<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont bookParam">
<h1>Collection</h1>
<div>
    <h2>My Library</h2>
    <% page.forEach(find => { %>
        <% if(find.belongsTo === session){ %>
            <div class="bookitemcoll">
            <h3><%= find.eventName %></h3>
            <h5>by <%= find.createdBy %></h5>
            </div>
        <% } %>
    <% }) %>
    <h2>Additions</h2>
    <% page.forEach(find => { %>
        <% if(user.favorites.includes(find._id)){ %>
            <div class="bookitemcoll">
            <h3><%= find.eventName %></h3>
            <h5>by <%= find.createdBy %></h5>
            </div>
        <% } %>
    <% }) %>

</div>
</div>
<%- include('../partials/userFooter') %>