<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>

<div>
    <h1><%= book.title %></h1>
    <p>Has been sucessfully bound and saved to your library</p>

    <h3> Would you like to attempt to make this into a story?</h3>
    <form action="/story/new" method="post">
        <label for="author">
            Written By:
            <input type="text" name="author" id="author" placeholder="Some person maybe">
        </label>

        <input type="text" name="private" id="private" value="false" hidden>
        <input type="tel" name="title" id="title" value="<%=book.title%>" hidden>
        <input type="number" name="pagesMax" id="pagesMax" value="<%=book.pagesMax%>" hidden>
        <input type="text" name="bookID" id="bookID" value="<%=book.id%>" hidden>
        <input type="submit" value="Sure!">
    </form>
    <a href="/">No Thanks</a>
</div>

<%- include('../partials/userFooter') %>