<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<% book.forEach(books => { %>
    <a href="book/<%= book._id %>"><h1><%=  book.title %></h1></a>
<%})%>
<a href="book/new/1">Make a new Book</a>
<%- include('../partials/userFooter') %>