<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
    <div class="bookIndex">
<a href="book/init" class="auto1">Start a new Book</a>
<% book.forEach(books => { %>
    <div class="pageindexitem">
    <a href="book/<%= books._id %>"><h1><%=  books.title %></h1></a>
    </div>
<%})%>
<% if (user) { %>
<a href="book/collection/" class="auto1 auto2">My Collection</a>
<% } %>
</div>
</div>
<%- include('../partials/userFooter') %>