<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<h1>Making a Story</h1>
<div>

    <h3>Page <%=place%> of <%=book.pagesMax%></h3>


    <h4> Page Name </h4>
    <select name="pages" id="pages">    
        <% page.forEach( result => { %>
            <% if(user.favorites.includes(result.id)){ %>
                <option value="<%=result.id%>"><%=result.eventName%></option>
            <% } %>
        <% }) %>
    </select>

    <h4>Choice A</h4>
    <input type="text" name="choiceAText" id="choiceAText">
    <h4>Destination A</h4>
    <select name="choiceA" id="choiceA">
        <% page.forEach( result => { %>
            <% if(user.favorites.includes(result.id)){ %>
                <option value="<%=result.id%>"><%=result.eventName%></option>
            <% } %>
        <% }) %>
    </select>

    <h4>Choice B</h4>
    <input type="text" name="choiceBText" id="choiceBText">
    <h4>Destination B</h4>
    <select name="choiceB" id="choiceB">
        <% page.forEach( result => { %>
            <% if(user.favorites.includes(result.id)){ %>
                <option value="<%=result.id%>"><%=result.eventName%></option>
            <% } %>
        <% }) %>
    </select>

</div>

<%- include('../partials/userFooter') %>