<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>

<a href="/pages/new">Make a new Page</a>
<!-- defines start and end points for number of entries displayed on a page -->
<% let start = ((part - 1)*10); let end = ((part * 10) - 1);%>

<!-- defines page point for every 10 entries, may be adjusted later-->
<% let totalPages = Math.ceil(pages.length / 10)%>

<!-- checks for end limit to avoid errors -->
<% if(end > pages.length){ %>
    <% end = pages.length - 1 %>
<%} %>

<!-- Start of entry generation -->
<% for (i = start; i < end +1; i++){ %>
    <h1><%= pages[i].eventName %></h1>
        Created By: <%=pages[i].createdBy %>
        <% if(user){ %>
        <form action="/book/new/addpage/<%= pages[i]._id %>" method="post">
            <!-- <input type="text" name="name" id="name" disabled class="hideMe" value="<%=pages[i].eventName%>">
            <input type="text" name="page" id="page" disabled class="hideMe" value="<%= part %>"> -->
            <label for="submit">
            Add to Library
            <input type="submit" value="+">
            </label>
        </form>
        <% } %>
        <a href="/pages/<%=pages[i]._id%>">View this Page</a>
<%}%>

<!-- Page loop, for total entries-->
<br/>
<% for (i = 1; i < totalPages + 1; i++) { %>
    <a href="/pages/all/<%=i%>"><%=i%></a>
<%}%>
<p>Page <%= part %></p>

<%- include('../partials/userFooter') %>