<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
<h1><%= page.eventName %></h1>
<h4>Written By: <%= page.createdBy %></h4>
<p><%= page.content %></p>
<% if(user){%>
<a href="/pages/<%= page._id %>/edit">Edit this Entry</a>
<%}%>

<!-- DELETE Same as update -->
<form action="/pages/<%= page._id %>?_method=DELETE" method="post">

        <%if(page.belongsTo === user || page.belongsTo === 'public') {%>
        <label for="submit">
            <input type="submit" value="DELETE">
        </label>
        <% } else { %>
        <label for="submit">
            <p class="warn">You cannot delete this entry</p>
        <input type="submit" value="DELETE" disabled>
        <% } %>
    
</form>
</div>
<%- include('../partials/userFooter') %>