<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<h1><%= page.eventName %></h1>
<%= page %>
<a href="/pages/<%= page._id %>/edit">Edit this Entry</a>
<%- include('../partials/userFooter') %>