<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
<% story.forEach( result => { %>
    <% if(result.private === false){ %>
        <h1><%= result.title%></h1>
        <a href="/story/view/<%= result.id %>">Start reading now</a>
    <% } %>
<% }) %>
    </div>
<%- include('../partials/userFooter') %>