<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
<div class="bookParam">
    <h2><%=story.title%></h2>
    <span>by <p class="author"><%=story.author%></p></span>
    <div class="viewAsPage">
        <span class="pageTitle"><%=story.title%></span>
        <p><%=story.pages[bookmark -1]%></p>
        <span class="pageNumber"><%= bookmark %></span>
    </div>
    <% if(story.end[parseInt(bookmark) - 1] || story.pagesMax === parseInt(bookmark)){ %>
        <a href="/story/index" class="navButton">Back To Index</a>
    <% } else if(story.choiceA[parseInt(bookmark - 1)] === "Do Nothing" || story.choiceB[parseInt(bookmark - 1)] === "Do Nothing") { %>
        <a href="/story/view/<%=story.id%>/<%=parseInt(bookmark) + 1%>" class="navButton">Next Page</a>
    <% } else { %>
        <a href="/story/view/<%=story.id%>/<%= story.choiceA[parseInt(bookmark)-1]%>" class="navButton"><%= story.choiceAText[parseInt(bookmark)-1] %></a>
        <a href="/story/view/<%=story.id%>/<%=story.choiceB[parseInt(bookmark)-1]%>" class="navButton"><%= story.choiceBText[parseInt(bookmark)-1] %></a>
    <% } %>
</div>
</div>
<%- include('../partials/userFooter') %>