<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
    <div class="bookParam">

<h1><%= story.title %></h1>
<h3>By <%= story.author%></h3>
<a href="/story/view/<%=story.id%>/1">Start Reading</a>
</div>
</div>
<%- include('../partials/userFooter') %>